html,body{
    margin:0;
    padding:0;

}
:root{
    --bg-word:#5124ff;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1:after{
    content: "";
    animation: 6s swap infinite;
    padding: 10px;
    background: var(--bg-word);
    color: white;
    border-radius: 4px;
    margin-left: 4px;
}
@keyframes swap{
   0% {
        content: "Singing"
    }
    25% {
        content: "Cats"
    }
    50% {
        content: "Coding"
    }
    
    75% {
        content: "Scrimba"
    }
    
    100% {
        content: "singing"
    }
}
